-#= simple_form_for @story, html: { class: 'story-form' }, remote: true do |f|
-#  = f.-#  = f.submit "Create Novel", class: "btn-primary"input :overview, required: false
-#  = f.input :content,  required: false
