= simple_form_for :story, url: stories_path,html: {id: 'create_story_form'}, remote: true do |f|
  = f.input :overview, required: false
  = f.input :content,  required: false
  = f.submit "Create Novel", class: "btn-primary"