@import "bootswatch/simplex/variables";

@import "bootstrap";
body {
  padding-top: 60px;
  padding-bottom: 60px;
}
@import "bootstrap-responsive";
@import 'bootstrap-datetimepicker';


/* Bootswatch set to journal theme, simply change journal to other options for new themes */
@import "bootswatch/simplex/bootswatch";


/* Layout */
.sidebar{
  @include makeColumn(3);
  @extend .well;
}

.navbar{
  font-size: 20px;
}

.main-section-with-sidebar{
  @include makeColumn(10);
}
.main-section{
  @include makeColumn(14); /* Was 12 */
}

.content {
  background-color: #eee;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  @include border-radius(0 0 6px 6px);
  @include box-shadow(0 1px 2px rgba(0,0,0,0.15));
  @include makeRow();
}

.well_shadow {
    background-color:white;
    /*border:1px solid;*/
    padding: 20px;
    border-radius: 50px;
    margin-bottom: 5px;
}




ul
{
    list-style-type: none;
    padding: 0;
    margin: 10px;
}

li.scene {
    padding: 0;
    margin: 0px;
    cursor: pointer;

}


li.scene:hover {
  color: red;
  background: #fbebe9;
  /*border: 1px solid #ccc;*/
}
