.stories{

  .story-details{
    background-color:white;
    padding: 20px;
    border-radius: 50px;
    margin-bottom: 5px;
  }
  .story-details:hover{
    cursor: pointer;
  }

  #story-list{
    ul{
      list-style-type: square;
    }
  }

  .raised{
    box-shadow: 10px 10px 5px #888888;
    border: 1px solid;
  }
}